@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&family=Oswald&display=swap');
/* font-family: 'Nunito', sans-serif;
font-family: 'Oswald', sans-serif; */

:root {
    --swiper-theme-color: #ff183c;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #fff;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: #fff;
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #ff183c;
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: #ff183c;
}
body{
    margin: 0;
    padding: 0;
    background: url('../img/admin-panel.jpg') no-repeat fixed;
    background-size: cover;
}
.pageCover { 
    position:fixed; 
    z-index:10; 
    background-color:rgba(0,0,0,.4);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: (4px);
    width:100vw; 
    height:100vh; 
    top:0; 
    left:0;
}
.disabled {
    pointer-events:none;
    opacity:0.6;
}
.bg-black{
    background-color: #161616 !important;
}
.dark-bg-heading{
    font-family: 'Oswald';
    color: #fff;
    text-shadow: 0 0 8px #fcb3b3;
}
.support-btn{
    border-radius: 8px;
    box-shadow: 3px 3px 8px #c0c0c0;
}
.navbar-collapse ul{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}
#content-container{
    background-color: #f0f8ffcf;
    padding-top: 4rem;
    padding-bottom: 4.5rem;
    font-family: 'Nunito', sans-serif;
    min-height: 90vh;
}
.mag-card{
    position: relative;
    height: 350px;
    width: 250px;
    overflow: hidden;
}
.mag-card img{
    filter: brightness(.5);
    transition: 0.4s ease-out;
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}
.mag-card:hover img{
    filter: brightness(1);
}
.mag-card:hover .mag-text{
    background: crimson;
}
.mag-text{
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    font-family: 'Nunito', sans-serif;
    padding: 5px 10px;
    transition: 0.3s ease-out;
}
.mag-text h5{
    color: #fff;
    margin: 0;
}
.mag-text h5 span{
    font-weight: bold;
}
.mag-chapter{
    position: absolute;
    top: 10px;
    right: 10px;
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #content-container {
        background-color: #f0f8ff5e;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);
    }
}